In [34]:
import pandas as pd
samples = ["PcelA", "PcelB", "PcelC", "PMVA", "PMVB", "PMVC"]
series = []
for sample in samples:
    series.append(pd.read_table("Raw_counts/"+ sample +"_raw_count.txt", header=None, index_col=0, names = [sample]))

In [35]:
for i in range(1, len(series)):
    series[0] = pd.concat([series[0], series[i]], axis=1)

df = series[0]

In [37]:
df.head()

                 PcelA  PcelB  PcelC   PMVA   PMVB   PMVC
hsa-let-7a-5p    39725  32477  48353  15461  23769  21061
hsa-let-7a-3p      514    370    608     43     67     68
hsa-let-7a-2-3p     25     17     46      3     10     11
hsa-let-7b-5p      706    500    750    450    714    695
hsa-let-7b-3p       32     22     40     10     15     22

In [38]:
df.describe()

,PcelA,PcelB,PcelC,PMVA,PMVB,PMVC
count,2657.000000,2657.000000,2657.000000,2657.000000,2657.000000,2657.000000
mean,472.032367,389.252540,561.520135,148.842303,239.969138,180.966127
std,10897.367802,8980.350971,12768.031956,3190.296749,4768.296244,3573.710832
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2.000000,1.000000,2.000000,1.000000,1.000000,1.000000
max,535242.000000,439996.000000,627322.000000,146812.000000,198700.000000,152093.000000

In [39]:
df.to_csv("LOX_parental_cell_vs_MV.csv")